body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#canvas-container {
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-user-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    margin-top: 40px;
}

.results {
    margin-top: 50px;
    text-align: center;
}

.row {
    background-color: rgb(40, 167, 69, 0.5);
    width: 80%;
    height: auto;
    padding: 20px;
    margin-left: 10%;
    margin-top: 30px;
}

.row2 {
    background-color: rgb(40, 167, 69, 0.5);
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 30px;
}

.footer-row {
    width: 100%;
    height: auto;
}

.navbar-custom {
    background-color: #28a745;
}

.btn-custom,
.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
    color: black;
    width: 150px;
    height: 40px;
}

.btn-custom:hover,
.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: black;
}

.btn-custom:active,
.btn-primary:active {
    background-color: #c82333;
    border-color: #bd2130;
    color: black;
}

#results h2 {
    text-align: left;
}

